.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
cache
maps
__pycache__
*.pyc
results
logs
.DS_Store
useless
tools_figure
maps_down
test.py
results_*
*.pdf